<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iMon.XBMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <iMon.XBMC.Properties.Settings>
            <setting name="XbmcIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="XbmcPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="XbmcUsername" serializeAs="String">
                <value>xbmc</value>
            </setting>
            <setting name="XbmcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneralStartupAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralStartupConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralTrayEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralTrayStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XbmcConnectionInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GeneralTrayHideOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralTrayHideOnMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImonAutoInitialize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImonUninitializeOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XbmcIdleStaticTextEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XbmcIdleStaticText" serializeAs="String">
                <value>XBMC</value>
            </setting>
            <setting name="ImonLcdScrollingDelay" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="XbmcGeneralUpdateInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="XbmcGeneralSoundSystemEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XbmcGeneralSoundSystem" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XbmcGeneralSPDIF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XbmcGeneralShowVolume" serializeAs="String">
                <value>False</value>
            </setting>
        </iMon.XBMC.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
