<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iMon.XBMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iMon.XBMC.Properties.Settings>
            <setting name="XbmcIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="XbmcPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="XbmcUsername" serializeAs="String">
                <value>xbmc</value>
            </setting>
            <setting name="XbmcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GeneralStartupAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralStartupConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GeneralTrayEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralTrayStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XbmcConnectionInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GeneralTrayHideOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GeneralTrayHideOnMinimize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImonAutoInitialize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImonUninitializeOnError" serializeAs="String">
                <value>False</value>
            </setting>
        </iMon.XBMC.Properties.Settings>
    </userSettings>
</configuration>